:root {
  --bg-color-1: #659FD5;
  --footer-color: #404358;
  --footer-height: 2rem;
}

@media (min-width: 380px) {
  :root {
    --footer-height: 8rem;
  }
}

@font-face {
  font-family: Akbar;
  src: url(fonts/akbar.ttf);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-color-1);
  font-family: sans-serif;
}

body,
button {
  -webkit-transition: background-color 500ms;
  -moz-transition: background-color 500ms;
  -o-transition: background-color 500ms;
  transition: background-color 500ms;
}

#author,
#footer {
  -webkit-transition: color 500ms;
  -moz-transition: color 500ms;
  -o-transition: color 500ms;
  transition: color 500ms;
}

.quote-box-image {
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

#quote-box {
  -webkit-transition: flex 0.3s ease-out;
  -moz-transition: flex 0.3s ease-out;
  -o-transition: flex 0.3s ease-out;
  transition: flex 0.3s ease-out;
}

.container {
  width: calc(100% - 1rem);
  margin: 0 auto;
}

@media (min-width: 380px) {
  .container {
    max-width: 500px;
  }
}

.content-container {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  align-items: center;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  flex: 1 1 100%;
}

@media (min-width: 380px) {
  .content {
    align-items: center;
  }
}


/***********
QUOTE BOX
***********/
#quote-box {
  position: relative;
  background-color: white;

  height: auto;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  flex: 1 1 100%;
  overflow: hidden;
}

.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  top: 1rem;
  justify-content: center;
  align-items: center;
  opacity: 0;
}



#quote-box-triangle{
  content: '';
  position: absolute;
  top: 0;
  left: -1.5rem;
  width: 0; 
  height: 0; 
  border-left: 2rem solid transparent;
  border-right: 0rem solid transparent;
  
  border-top: 1rem solid white;
}

.quote-box-image {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  max-width: 640px;
  background: white;
  background-size: cover; 
  z-index: 0;
  opacity: 0.2;
}

.quote-box-image {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  max-width: 640px;
  height: 100%;
  min-height: 480px;
  background: white;
  background-size: cover; 
  z-index: 0;
  opacity: 0.2;
}

@media (min-width: 440px) {
}

.quote-symbol {
  position: absolute;
  top: 2rem;
  left: 2rem;
  max-width: 50px;
  fill: var(--bg-color-1);
}

#text {
  position: relative;
  flex: 0 0 100%;
  align-self: center;
  color: var(--footer-color);
  z-index: 1;
  opacity: 1;
}

#text > p {
  padding-top: 3rem;
  text-align: center;
  font-size: 1rem;
}

#author {
  position: relative;
  z-index: 1;
  flex: 0 0 100%;
  align-self: center;
  text-align: center;

  padding: 1.5rem 0 1.5rem 0;
  font-size: 0.8rem;
  color: var(--footer-color);
}

@media (min-width: 380px) {
  #author {
    text-align: right;
  }
  #author > p {
    font-size: 1rem;
    padding-right: 2.5rem;
  }
  #text > p {
    font-size: 1.2rem;
    text-align: justify;
    padding: 3rem 2.5rem 0 2.5rem;
  }
}

#tweet-quote {
  flex: 0 0 50%;
  align-self: center;
  text-align: left;
}

#new-quote {
  flex: 0 0 50%;
  align-self: center;
  justify-self: end;
  text-align: right;
}

@media (min-width: 380px) {
  #new-quote,
  #tweet-quote {
    flex: 0 0 calc(50% - 2rem);
  }

  #new-quote {
    padding-right: 2rem;
  }

  #tweet-quote {
    padding-left: 2rem;
  }
}

/***********
BUTTONS
***********/
button {
  outline: none;
  border: none;
  padding: 0.75rem;
  border-radius: 5px;
  font-family: 'Akbar';
  color: white;
  text-transform: uppercase;
  background: var(--bg-color-1);
  font-size: 0.7rem;
  position: relative;

  -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.1);
}

button:hover {
  cursor: pointer;
}

button:active {
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
}

@media (min-width: 420px) {
  button {
    font-size: 1rem;
    padding: 1rem;
  }
}

/***********
FOOTER
***********/
footer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: white;
}

.footer-content {
  font-family: 'Akbar';
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.5;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.footer-image {
  position: relative;
  max-width: 150px;
  flex: 1 1 100%;
  align-self: start;

}

.footer-image > img {
  padding-top: 1rem;
}
